.md-typeset h1, .md-typeset h2 {
    color: black !important;
  }

.md-typeset a {
    text-decoration: underline;
  }

.md-sidebar__inner { 
    background-color: #ffffffdd;
}

/*
.md-container {
  background-image: url("nica-background.jpg");
}
*/

.md-main {
  background-color: #ffffffdd;
}

.md-content {
  background-color: #ffffff;
}

.md-nav__link {
}